@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "Collingar";
  src: url("./assets/fonts/Collingar-DEMO.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #f8fafc;
  color: #1e293b;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Collingar", serif;
}
